CBM_Params/**
Joe_CBM_2/Joe_CBM_2
Joe_CBM_2/objs/**
CBM_CORE_LIB/intout/**
CBM_CORE_LIB/lib/**
CBM_CORE_LIB/.svn/**
CBM_DATA_LIB/intout/**
CBM_DATA_LIB/lib/**
CBM_DATA_LIB/.svn/**
CBM_STATE_LIB/intout/**
CBM_STATE_LIB/lib/**
CBM_STATE_LIB/.svn/**
CBM_TOOLS_LIB/intout/**
CBM_TOOLS_LIB/lib/**
CBM_TOOLS_LIB/.svn/**
CBM_VISUAL_LIB/intout/**
CBM_VISUAL_LIB/lib/**
CBM_VISUAL_LIB/.svn/**
CXX_TOOLS_LIB/intout/**
CXX_TOOLS_LIB/lib/**
CXX_TOOLS_LIB/.svn/**
libs/**
